/* base */
@import url("https://fonts.googleapis.com/css2?family=Arima&family=Josefin+Sans&family=Patua+One&family=Poppins:wght@500&display=swap");

* {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}

:root {
	--background: #161616;
	--btn-background: #dd0000;
	--white: #ffffff;
	--fb-blue: #0076ff;
}

body {
	animation: body 0.4s ease-out;
}
@keyframes body {
	from {
		transform: translateX(-100px);
	}
	to {
		transform: translateX(0px);
	}
}

img {
	width: 100%;
}
a {
	text-decoration: none;
	display: inline-block;
}

/* commone */

.container {
	max-width: 1300px;
	margin: 0 auto 130px;
}

.d-m-hide {
	visibility: hidden;
}

/*  Common____Media Querie____ */
/* Mobail */
@media screen and (max-width: 575px) {
	.container {
		flex-direction: column;
		margin-bottom: 34rem;
		column-gap: 10px;
	}
}
/* tablet */
@media screen and (min-width: 576px) and (max-width: 850px) {
	.container {
		flex-direction: column;
		margin-bottom: 40px;
	}
	.banner {
		width: 100%;
	}
}

.margin-auto {
	margin: auto;
}
.text-center {
	text-align: center;
}
.d-flex {
	display: flex;
	gap: 25px;
}
.align-item-center {
	align-items: center;
}
.d-grid {
	display: grid;
	justify-items: center;
}

h1 {
	font-weight: 700;
	font-size: 4rem;
	line-height: 75px;
}
.btn {
	padding: 1rem 2rem;
	font-weight: 400;
	font-size: 1.5rem;
}
.visit__link {
	width: 166px;
	height: 35px;
	margin-top: 1.5rem;
	background-color: var(--btn-background);
	color: var(--white);
	transition: all 1s;
}
.visit__link:hover {
	transform: scale(0.9);
	color: var(--btn-background);
	border: 1px solid whitesmoke;
	cursor: pointer;
	background-color: var(--white);
}

/* banner */

.banner {
	background: #161616;
	border-radius: 3rem;
	justify-content: space-evenly;
	margin-top: 2rem;
}
.banner__blog {
	width: 550px;
	color: var(--white);
}
.banner p {
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
}
.banner__photo {
	width: 582px;
	height: 613px;
}
/*  ____Media Querie___ Banner*/

/* Mobail */

@media screen and (max-width: 575px) {
	.container {
		width: 100%;
		height: 340px;
	}
	.banner__photo,
	.banner__blog {
		width: 100%;
		height: 100%;
	}
	.banner__blog {
		padding: 1.5rem;
	}
	.banner__photo {
		margin-bottom: -27px;
	}
	.banner {
		flex-direction: column;
		text-align: center;
		padding: 20px 30px;
		border-radius: 1rem;
	}
	h1 {
		font-weight: 500;
		font-size: 3rem;
		line-height: 65px;
	}
	.banner p {
		font-size: 14px;
		line-height: 24px;
	}
}
/* tablet */

@media screen and (min-width: 576px) and (max-width: 850px) {
	.container {
		width: 95%;
		height: 398px;
	}
	.banner__blog {
		width: 60%;
		margin: 20px;
		padding: 20px;
	}
	.banner__blog h1 {
		font-size: 40px;
		line-height: 50px;
	}
	.banner__blog p {
		font-size: 14px;
	}
	.banner__photo {
		width: 40rem;
		height: 24.7rem;
	}
}

/* side bar */
.side__bar {
	width: 220px;
	height: 265px;
	background-color: var(--background);
	border-radius: 1rem;
}
.menu__box {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: space-evenly;
}

.menu__box a {
	padding-top: 12px;
	margin-top: 0.7rem;
	font-weight: 500;
	font-size: 20px;
	width: 190px;
	height: 40px;
	border-radius: 10px;
}
.unselect,
.unselect a {
	background: var(--white);
	color: #161616;
}
.selected,
.selected a {
	background-color: #dd0000;
	color: var(--white);
}

.menu {
	transition: all 1s;
}
.menu:hover {
	transform: scale(0.9);
	color: whitesmoke;
	border: 1px solid whitesmoke;
	cursor: pointer;
	background-color: transparent;
}

/*  ____Media Querie___ Side bar*/

/* Mobail */

@media screen and (max-width: 575px) {
	.side__bar {
		width: 210px;
		height: 176px;
		margin: auto;
		background-color: var(--white);
	}

	.menu__box a {
		margin: 4px 0px 9px 0px;
		font-weight: 500;
		padding: 10px 0px;
		border: 1px solid #e8e8e8;
		border-radius: 10px;
	}
}

/* tablet */

@media screen and (min-width: 576px) and (max-width: 850px) {
	.menu__box {
		flex-direction: row;
	}
	.side__bar {
		margin: 30px auto;
		background-color: var(--white);
		width: 100%;
		height: 75px;
	}

	.menu__box a {
		margin: 2px 8px;
		padding: 15px 0px 2px 0px;
		border: 1px solid #e8e8e8;
		border-radius: 10px;
	}
}

/* match summary */

.match__summary {
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}

.match__thamb {
	width: 312px;
	height: 242px;
	border: 1.07372px solid #e8e8e8;
	border-radius: 10px;
	animation: div 1s;
	transition: all 1s;
}

@keyframes div {
	from {
		transform: scale(0.01);
	}
	to {
		transform: scale(1);
	}
}
.country__flag {
	align-items: center;
	padding: 50px 25px 20px;
}
.country_flag p {
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #161616;
}

.match__details {
	text-align: center;
}

.match__details h3 {
	font-weight: 600;
	font-size: 20px;
	margin: 7px auto;
}
.match__details span {
	font-weight: 400;
	color: #4d4d4d;
}

/*  ______Media Querie______  match summary*/

/* Mobail */

@media screen and (max-width: 575px) {
	.match__summary {
		grid-template-columns: repeat(1, 1fr);
		justify-content: center;
	}

	.match__thamb {
		width: 335px;
		height: 360.69px;
	}
}

/* tablet */

@media screen and (min-width: 576px) and (max-width: 850px) {
	.match__summary {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 0px;
	}
	.match__thamb {
		width: 333px;
		height: 259.69px;
	}
	.country__flag {
		width: 18rem;
		height: 5rem;
	}

	.match__details span {
		margin: 0px 30px 0px;
	}
}
/* _______footer_______ */

footer {
	background-color: var(--background);
	color: var(--white);
	padding-top: 1rem;
	text-align: center;
	overflow: hidden;
}
footer h2 {
	font-weight: 700;
	font-size: 45px;
	margin: 3rem 0;
}
hr {
	border: 1px solid rgba(255, 255, 255, 0.1);
	width: 55rem;
	margin: 3rem auto;
}
.footer-link a {
	color: var(--fb-blue);
}
.footer-menu,
.footer-link {
	font-weight: 500;
	font-size: 16px;
	justify-content: center;
	padding-bottom: 1rem;
}

/*  ______Media Querie______  footer*/

/* Mobail */

@media screen and (max-width: 575px) {
	footer {
		position: relative;
		top: 105rem;
		margin-top: 19px;
	}
	footer h2 {
		font-weight: 600;
		font-size: 22px;
		margin: 6px;
	}
	.footer-menu {
		flex-direction: column;
		font-weight: 400;
		font-size: 14px;
		padding-bottom: 2rem;
		line-height: 4px;
	}
	hr {
		width: 16rem;
		margin: 1.3rem auto;
	}
}

/* tablet */

@media screen and (min-width: 576px) and (max-width: 850px) {
	footer {
		position: relative;
		top: 40rem;
	}
}
/* code link-:  https://github.com/Naimur61/Assignment-2

live link-: https://naimur61.github.io/Assignment-2/ */
